
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}
.video-title{
    display: block;
    text-align: center;
    position: relative;
    top: 350px;
    color: #fff;
    letter-spacing: 2px;
    font-size: 46px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}
.video-title::selection{
    background-color: #a7ccd1;
}
